<h1 style="text-align: center">Angular CRUD operations</h1>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <th scope="row">{{ product._id }}</th>
        <td>{{ product.title }}</td>
        <td>{{ product.price }}</td>
        <td>
          <a
            class="btn btn-primary"
            [routerLink]="['/products/update', product._id]"
            routerLinkActive="router-link-active"
            >Edit</a
          >
          <button
            type="button"
            (click)="removeProduct(product._id)"
            class="btn btn-danger ms-2"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
